<h1>Sign In</h1>
<form action="/sessions/create">
  <label for ="username">Username:</label>
  <input id="username" type="text" placeholder="your username here" name="username">
  <br>
  <label for="password">Password:</label>
  <input id="password" type="password" placeholder="your password here" name="password">
  <input type="submit">
</form>