<h1>New Tournament</h1>

<form action="/create_tournament">
  <div>
    <label for="location">location</label><br />
    <input id="location" name="location" type="text" />
  </div>
  <div>
    <label for="date">date</label><br />
    <input id="date" name="date" type="text" />
  </div>
  <div>
    <label for="hotel">hotel</label><br />
    <input id="hotel" name="hotel" type="text" />
  </div>
  <div>
    <label for="travel">travel</label><br />
    <input id="travel" name="travel" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

