<h1>New Event</h1>

<form action="/create_event">
  <div>
    <label for="result">result</label><br />
    <input id="result" name="result" type="text" />
  </div>
  <div>
    <label for="weapons">weapons</label><br />
    <input id="weapons" name="weapons" type="text" />
  </div>
  <div>
    <label for="division">division</label><br />
    <input id="division" name="division" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

