<div class="container">
  <div class="row">
    <h1>Users</h1>

    <p><a href="/new_user">Add a New User</a></p>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <tr>
              <td><%= user.name %> &nbsp;</td>
              <td><a href="/users/<%= user.id %>">Show</a>  &nbsp;</td>
          <td><a href="/users/<%= user.id %>/edit">Edit</a> &nbsp;</td>
          <td><a href="/users/<%= user.id %>/destroy">Destroy</a></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
